h1 {
    font-family: sans-serif;
    text-align: center;
}

h2 {
    font-family: Strata, sans-serif;
}

#main-container {
    display: flex;
}

#grid {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

#grid > div > div {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
}

#controls {
    width: 50%;
    padding: 1rem;
}

#button-container {
    display: flex;
    flex-direction: column;
}

button {
    width: 100%;
    margin-bottom: 1rem;
    height: 2rem;
}

#swatches {
    display: flex;
}

.swatch {
    width: 1rem;
    height:1rem;
    border: 1px solid black;
}

.red {
    background-color: red;
}

.indigo {
    background-color: #0000FF;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.teal {
    background-color: teal;
}